<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder  file-encoding="utf-8" location="classpath:db.properties"></context:property-placeholder>
    <bean class="${dataSource}" id="ds">
        <property name="driverClassName" value="${className}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${name}"></property>
        <property name="password" value="${pass}"></property>
    </bean>

    <bean id="sf" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"></property>
        <property name="typeAliasesPackage" value="cn.cncsnet.pojo"></property>
        <property name="mapperLocations" value="classpath:cn/cncsnet/mapper/*.xml"></property>
        <property name="plugins" >
           <array>
               <bean class="com.github.pagehelper.PageHelper">
                   <property name="properties" >
                       <value>dialect=mysql</value>
                   </property>
               </bean>
           </array>
    </property>
    </bean>
    <bean class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg>
            <ref bean="sf"></ref>
        </constructor-arg>
    </bean>
    </beans>
